.container {
  margin: 40px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

h1, h2 {
  color: #2c3e50;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

section {
  margin-bottom: 30px;
}

.highlight {
  background-color: #eaf4fc;
  padding: 15px;
  border-left: 5px solid #3498db;
  border-radius: 4px;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5; /* facultatif : fond général */
}


/* Responsiveness pour petits écrans */
@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 10px;
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}
